automation/my_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "complaint-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -112
      ],
      "id": "659632b6-f5b2-46a2-bafa-a0b7328feba8",
      "name": "Webhook",
      "webhookId": "bb1a2dd9-ab82-4ed1-97c7-a48ffd17c254"
    },
    {
      "parameters": {
        "fromEmail": "civicsync30@gmail.com",
        "toEmail": "={{$json.authorityEmail}}",
        "subject": "={{$json.subject}}",
        "emailFormat": "text",
        "text": "={{$json.message}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        224
      ],
      "id": "8d7bf136-4207-4363-8ba1-cf4e47795459",
      "name": "Send an Email",
      "webhookId": "d6372f6e-b139-4f67-ba2f-443cee283ba1",
      "credentials": {
        "smtp": {
          "id": "eXscuHnZcuGHmNyc",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Complaint routed successfully\",\n  \"department\": \"{{$json.department}}\",\n  \"priority\": \"{{$json.priority}}\",\n  \"authority\": \"{{$json.authorityEmail}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        528
      ],
      "id": "2adfd390-de5d-4cb2-8608-fa53126b88d8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this civic complaint and return ONLY valid JSON.\n\nComplaint:\n{{$json.body.description}}\n\nReturn format:\n{\n\"issueType\": \"\",\n\"department\": \"\",\n\"priority\": \"\"\n}\n\nPossible departments:\n\n* Garbage\n* Water\n* Roads\n* Electricity\n* Sewage\n* Trees\n* Traffic\n\nPriority values:\n\n* Low\n* Medium\n* High\n* Emergency\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        384,
        -48
      ],
      "id": "357f2d93-61d3-49ab-b808-c0363c55190e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        624,
        -192
      ],
      "id": "a41cca6e-60b9-403a-8722-42d2015e8c8a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BHUy3U7skezEZHaZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const issueType = $json.body.issueType;\n\nlet authorityEmail = \"\";\nlet department = \"\";\n\nif (issueType === \"Garbage\") {\n  authorityEmail = \"garbage.department@gmail.com\";\n  department = \"Garbage Management\";\n}\nelse if (issueType === \"Water Leakage\") {\n  authorityEmail = \"water.board@gmail.com\";\n  department = \"Water Department\";\n}\nelse if (issueType === \"Pothole\") {\n  authorityEmail = \"roads.department@gmail.com\";\n  department = \"Road Maintenance\";\n}\nelse {\n  authorityEmail = \"municipal.office@gmail.com\";\n  department = \"General Municipal\";\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      authorityEmail,\n      department\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -80
      ],
      "id": "512137ea-fa1f-4814-9544-b90760a3d49c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a708f3c4-1c3d-440d-a232-1680425e2418",
              "name": "subject",
              "value": "=Civic Complaint - {{$json.issueType}}",
              "type": "string"
            },
            {
              "id": "2476cba2-2170-47e9-b36a-fb5ac163dbc7",
              "name": "message",
              "value": "=Complaint Registered\n\nIssue Type: {{$json.body.issueType}}\n\nDepartment: {{$json.department}}\n\nLocation: {{$json.body.address}}\n\nDescription: {{$json.body.description}}\n\nCitizen Email: {{$json.body.citizenEmail}}\n\nCoordinates:\nLat: {{$json.body.latitude}}\nLng: {{$json.body.longitude}}\n\nPlease resolve this issue urgently.\n\nRegards,\nCivicSync",
              "type": "string"
            },
            {
              "id": "d4879fee-d880-4327-bb7d-09d47ad73930",
              "name": "authorityEmail",
              "value": "saarth615@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        240
      ],
      "id": "96e9f63c-ede8-4556-9abb-5a7b5e879cd5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        848,
        -48
      ],
      "id": "d030ebb5-c28f-43fc-996f-9b3eefa8c50d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "collection": "reports",
        "options": {},
        "query": "{\n  \"status\": {\n    \"$ne\": \"resolved\"\n  }\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1104,
        -96
      ],
      "id": "217d368f-afb8-4747-beeb-e88c1d25a02f",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "eybBSRy30aFIx8E6",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a5ece7d-bea6-4189-ba17-3f4082568618",
              "leftValue": "={{ Math.floor((Date.now() - $json.createdAt) / 86400000) }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        256
      ],
      "id": "ef0b8ad0-c854-4e46-b31e-90102c8e92c0",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "civicsync30@gmail.com",
        "toEmail": "={{$json.authorityEmail}}",
        "subject": "Reminder - Civic Complaint",
        "emailFormat": "text",
        "text": "=This is an automated civic complaint reminder.\n\nIssue Type:\n{{$json.issueType}}\n\nDescription:\n{{$json.description}}\n\nSeverity Score:\n{{$json.severityScore}}\n\nLocation:\nLatitude: {{$json.latitude}}\nLongitude: {{$json.longitude}}\n\nComplaint Age:\n{{ Math.floor((Date.now() - $json.createdAt) / 86400000) }} days\n\nPlease take necessary action regarding this unresolved civic issue.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1200,
        496
      ],
      "id": "909af0f7-7300-4266-a874-4dd9bfb84f7d",
      "name": "Send an Email1",
      "webhookId": "3cc69872-d149-43e2-b8f5-dd810a4cd6ee",
      "credentials": {
        "smtp": {
          "id": "eXscuHnZcuGHmNyc",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        1712,
        -160
      ],
      "id": "151c30bb-daf3-4937-823d-e91b0d7be4a3",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "gPsiZGyjtvrz8DPC",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        2208,
        -272
      ],
      "id": "b5c0a013-3707-4ce0-b82f-66e98141859f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BHUy3U7skezEZHaZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this authority email reply.\n\nReply:\n{{$json.text}}\n\nReturn ONLY one word:\n\nRESOLVED\n\nor\n\nPENDING\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1904,
        -144
      ],
      "id": "3157c615-1f5a-4416-a051-8e2bdca386a0",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "623d296e-52eb-43ee-878c-f97b05d48acb",
              "leftValue": "={{$json.text}}",
              "rightValue": "RESOLVED",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1776,
        128
      ],
      "id": "18bf349e-62f6-4843-ba54-84a264c4ed7c",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "reports",
        "updateKey": "_id",
        "fields": "={{ $json._id }}",
        "options": {
          "dateFields": "{   \"$set\": {     \"replyReceived\": true,     \"status\": \"Resolved\"   } }"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        2064,
        112
      ],
      "id": "012d063e-e8bc-46fb-9f0e-695bcdc7171b",
      "name": "Update documents",
      "credentials": {
        "mongoDb": {
          "id": "eybBSRy30aFIx8E6",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "reports",
        "updateKey": "={{$json._id}}",
        "fields": "={\n  \"lastReminderSentAt\": {{Date.now()}},\n  \"escalated\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1264,
        272
      ],
      "id": "b6cbb965-c839-414e-95c7-1181da47837a",
      "name": "Update documents1",
      "credentials": {
        "mongoDb": {
          "id": "eybBSRy30aFIx8E6",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const authorityMap = {\n  pothole: {\n    department: \"Road Maintenance Department\",\n    authorityEmail: \"roads@bbmp.gov.in\"\n  },\n\n  garbage: {\n    department: \"Waste Management Department\",\n    authorityEmail: \"garbage@bbmp.gov.in\"\n  },\n\n  leakage: {\n    department: \"Water Supply Department\",\n    authorityEmail: \"water@bbmp.gov.in\"\n  },\n\n  fallen_tree: {\n    department: \"Tree Department\",\n    authorityEmail: \"trees@bbmp.gov.in\"\n  }\n};\n\nreturn items.map(item => {\n\n  const issue = item.json.issueType?.toLowerCase();\n\n  const authority =\n    authorityMap[issue] || {\n      department: \"General Civic Department\",\n      authorityEmail: \"help@bbmp.gov.in\"\n    };\n\n  item.json.department = authority.department;\n  item.json.authorityEmail = authority.authorityEmail;\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -48
      ],
      "id": "23cb9e08-90e7-4296-bf15-bd11fa762bbe",
      "name": "Map Authority"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Map Authority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an Email1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update documents1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send an Email1": {
      "main": [
        []
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Authority": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "91326b51-80d2-4ffe-9beb-c9cd3fdb6ce6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d67f436e4983314c975c36bb3bd9bb06e412691de68c31747f9bcaa15738198d"
  },
  "id": "x3CHg5X7Kg0YSUuE",
  "tags": []
}